<form action="/upload_comments/{{id}}" method="POST">
    <input type='hidden' value='comment' name='comment' />
    <fieldset>
        <legend>Commentaires</legend>

        <!-- DESCRIPTION -->
        <div class='form-group'>
            <label for='comment-content'></label><br>
            <textarea class='form-control' id='comment-content' name='content' rows='10' placeholder='Ton commentaire ici...'></textarea>
        </div>
    </fieldset>

    <!-- BUTTON -->
    <div class='centrer form-group'>
        <button class='my_button btn btn-primary' type='submit'>Soumettre</button>
    </div>
</form>