<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <div class="container-fluid">
        <a class="navbar-brand logo_title title" href="{{url_for('index')}}">
            <img src="https://img.icons8.com/windows/64/ffffff/controller.png" alt="" class="d-inline align-top"> Picshare
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('upload')}}">Télécharger une image</a>
            </li>
        </ul>
    </div>
</nav>