@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Raleway:ital,wght@0,400;0,700;1,200&display=swap');

/* Color Theme Swatches in Hex */

.Dualit---Coffee-Labels-1-hex {
    color: #341740;
}

.Dualit---Coffee-Labels-2-hex {
    color: #443D73;
}

.Dualit---Coffee-Labels-3-hex {
    color: #F2CA80;
}

.Dualit---Coffee-Labels-4-hex {
    color: #F29544;
}

.Dualit---Coffee-Labels-5-hex {
    color: #BF532C;
}

* {
    margin: 0;
    padding: 0;
    font: 'Raleway', sans-serif;
    color: black;
}

body {
    background: #fcebcb
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    color: #443D73;
    text-align: center;
    padding: 5px;
}

legend {
    color: #BF532C;
    font-size: 18px;
    padding: 5px;
}

p {
    text-align: justify;
    font-size: 16px;
}

.container-fluid {
    padding-top: 5px
}

.menu {
    flex-wrap: nowrap;
    padding-left: 1rem;
    max-width: 100%;
    background-color: #341740;
}

.title {
    float: left;
    width: 30%;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    font-size: 4vw;
    color: #fcebcb;
}


/* COULEURS DES HOVER */

.my_button {
    background-color: #F29544;
    color: #341740;
    transition-duration: 0.4s;
    border-radius: 12px;
    align-self: center;
}

.my_button:hover {
    background-color: #341740;
    color: #F29544;
}

.menu ul {
    padding-bottom: 20px;
    width: 70%;
    float: left;
}

.menu li a {
    font-size: 18px;
    color: #fcebcb;
    text-decoration: none;
    float: right;
}

.menu li a:hover {
    color: #BF532C;
    text-decoration: none;
}


/* images accueil */

.figure {
    display: block;
    align-items: center;
    text-align: center;
    padding: 10px;
}

.titre_img {
    text-align: center;
}


/* menu categories */

.categories {
    padding: 10px;
    margin: 0;
}

.categories ul li a {
    font-size: 18px;
    color: #443D73;
    text-decoration: none;
    margin: 5px;
}

.categories ul li a:hover {
    color: #BF532C;
    text-decoration: none;
}


/* page image */

.image {
    margin: 15px;
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: center;
}

.centrer {
    padding: 0 20%;
}

.footer {
    height: 100px;
    width: 100%;
    background-color: #341740;
    display: flex;
}

.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #BF532C;
}


/* formulaire upload Images */

.upload_img {
    margin: auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button {
    margin: 15px;
}

.upload_form {
    padding: 10px
}

.description {
    height: 200px;
    display: block;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 80%;
}


/* COMMENTAIRE */

.form-group {
    align-items: center;
    align-self: center;
}