<!DOCTYPE html lang="fr">
<html>

<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Python, Flask, SQLite, HTML, CSS">
    <meta name="authors" content="fvuibert, llimbio, oazab, chirsch">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet " type="text/css " href="{{ url_for('static', filename='bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet " type="text/css " href="{{ url_for('static', filename='css/layout.css') }}">
    <title>Picshare</title>
</head>

<body>

    <div class="menu">
        {% include 'partials/nav.html' %}
    </div>

    <div class="container-fluid">
        {% block container %}
        <div class="row">

            {% include 'partials/categories.html' %}

            <div class="clearfix col-8">
                <h3>Mes images</h3>
                {% for picture in all_pictures %}
                <figure class="figure">
                    <a href="{{url_for('show_picture', id=picture[0])}}"><img src="{{ config[ 'UPLOAD_FOLDER'] }}/{{ picture[1] }} " class="figure-img img-fluid rounded " alt="{{picture[1]}}"></a>
                    <figcaption class="figure-caption text-end ">{{picture[2]}}</figcaption>
                </figure>
                {% endfor %}
            </div>
        </div>
        {% endblock %}
    </div>


    <footer class="footer ">
        <p class="footer-text ">Copyright © 2021 Azab Osama | Tous droit réservés Mentions légales</p>
    </footer>
</body>

</html>